
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cardCustom{
    background-color: white;
    border-radius: 13px;
    padding: 25px;
}
.btnGoogle{
    background-color: white;;
    border-radius: 15px;
    padding: 10px 25px;
}
.stripKiri{
    height: 1px;
    width: 25%;
    background-color: #d9d9d9;
}
.stripLabel{
    font-size: 18px;
    color: #585858;
}
.stripKanan{
    height: 1px;
    width: 25%;
    background-color: #d9d9d9;
}
.bulat{
    width:45px; 
    height:45px;
    border-radius: 50%;
}